/* Common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: ;
}
/* */
/* .clearfix{
    display: table;
    content: '';
    clear: both;
} */
/* */
#wrapper{
    width: 100%;
    height: 100vh;
}

nav{
    width: 230px;
    height: 100%;
}
.logo{
    width: 90%;
}
.small_logo{
    width: 50px;
}
main{
    height: calc(100vh - 80px);
    height: 100%;

}
#content{
    width: calc(100vh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
}

footer{
    height: 80px;
    z-index: 1;
    position: sticky;
    bottom: 0;
}   

.top_icons{
    width: 60px;
    height: auto;
}
.limeborder{
    border-left: 3px solid #C2F573;
}

.transparency{
    opacity: 0.75;
}
.playlist_text{
    font-size: 1.25rem;
}
.playlist>ul>li{
    margin-top: 18px;
    opacity: 0.75;
    padding-left: 10px;
    font-size: 1rem;
}
.dl_icon{
    width: 35px;
    height: auto;
}
.dl_text{
    opacity: 0.9;
}
.jd_icon{
    width: 25px;
    border-radius: 50%;
    background-color: grey;
}
.divider{
    border-bottom: 1px solid gainsboro;
}

/* Colors CSS */
.bg_gray{
    background-color: #282828;
}
.bg_darkblue{
    background-color: #141922;
}
.bg_black{
    background-color: black;
}
.bg_lighterblack{
    background-color: #080B12;
}
.limegreen_fx{
    background-color: #c2f573;
}
