*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
}

nav{
    width: 230px;
    height: auto;
    overflow: auto;
}

main{
    height: calc(100vh - 60px);
    overflow: hidden;
}

.content{
    width: calc(100vh - 230px);
}

footer{
    height: 60px;
    z-index: 1;
}   

.icons{
    width: 35px;
    height: auto;
}

.alignment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Colors CSS */
.bg_gray{
    background-color: #282828;
}
.bg_darkblue{
    background-color: #141922;
}
.bg_black{
    background-color: black;
}
.bg_lighterblack{
    background-color: #080B12;
}
